@font-face{
  font-family: EffectsEightyItalic;
  src: url(EffectsEightyItalic.ttf);
}

@font-face{
  font-family: Streamster;
  src: url(Streamster.ttf);
}

body {
    background-image: url("http://i.giphy.com/l41lM5o07uUz96BPi.gif");
}

h1 {
    color: white;
    font-family: Streamster;
    font-size: 48pt;
    text-align: center;
}

h2 {
    color: magenta;
    font-family: EffectsEightyItalic;
    font-size: 32pt;
    text-align: center;
}
